body {
    margin: 0px;
    font-family: sans-serif, Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

.text_align_center {
    text-align: center;
}

.d_flex {
    display: flex;
}

.d_justify_flex_end {
    justify-content: flex-end;
}

#main_navigation {
    background-color: #000;
    color: #fff;
    padding: 20px 40px 20px 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 12px;
}

#main_navigation ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

#main_navigation li {
    margin-right: 25px;
    text-decoration: none;
}

#main_navigation li a {
    color: inherit;
    text-decoration: none;
}

#main_navigation .buy_utu {
    background-color: #FDD947;
    padding: 5px;
    border: 0px;
    border-radius: 4px;
    cursor: pointer;
}

.banner_container {
    background-color: #FDD947;
    padding: 50px 35px;
    display: flex;
}



.banner_get_started {
    padding-top: 5px;
    font-size: 20px;
    width: 50%;
}

.banner_get_started .heading {
    margin-bottom: 20px;
}

.banner_get_started .body {
    font-size: 12px;
    padding-right: 40px;
}

.btn_cls {
    background-color: #000;
    color: #fff;
    padding: 10px;
    border: 0px;
    border-radius: 4px;
    font-size: 10px;
    cursor: pointer;
}

.banner_wallet {
    background-color: #fff;
    width: 50%;
    border-radius: 4px;
    padding: 35px 15px 15px 15px;
    font-size: 10px;
}

.wallet_summary {
    display: flex;
    margin-bottom: 25px;
}

.wallet_summary p {
    margin-right: 60px;
}

.btn_connect {
    background-color: #FFE431;
    align-items: center;
    border-radius: 4px;
    display: flex;
    text-decoration: none;
    color: #000;
    padding: 4px 0px 4px 10px;
    min-width: 150px;
    justify-content: space-between;
}

.btn_connect strong {
    font-size: 12px;
    display: block;
}

.btn_connect .connect_open {
    margin-left: 10px;
    margin-right: 15px;
    font-size: 12px;
}

.video_review img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 5px solid #FDD947;
}

.video_wrapper {
    display: flex;
    justify-content: space-between;
}

.video_rating_stars {
    color: #FDD947;
}

.utu_shortcut_links {
    display: flex;
    justify-content: space-between;
    padding: 50px 40px;
}

.utu_shortcut_links .link_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
}

.utu_shortcut_links a {
    text-decoration: none;
    color: #000;
}

.utu_shortcut_links .link_icon i {
    border-radius: 50%;
    background-color: #FDD947;
    width: 30px;
    height: 30px;
    padding-top: 12px;
    padding-left: 12px;
    margin-right: 10px;
}

.product_wrapper {
    font-size: 14px;
    padding-bottom: 50px;
}

.product_wrapper .product_heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.product_wrapper .product_heading strong {
    font-size: 20px;
    margin: 0px;
    padding-top: 20px;
}

.product_wrapper .product_category {
    display: flex;
    justify-content: center;
    text-align: center;
}

.product_category i {
    font-size: 35px;
    padding-top: 60px;
}

.product_category .category_user,
.product_category .category_product_manager {
    width: 50%;

}

.product_category p,
.category_product_manager p {
    color: #787577;
    font-size: 10px;
    margin: 0px;
    padding-bottom: 5px;
}

.product_category span,
.category_product_manager span {
    display: inline-block;
    padding-top: 20px;
    font-weight: bold;
}

.buy_utu_coin_section {
    background-color: #070915;
    color: #fff;
    padding: 50px 0px;

}

.buy_utu_coin {
    text-align: center;
    align-items: center;
}

.buy_utu_coin h2 {
    text-align: center;
}

.buy_companies,
.buy_coin_meterics {

    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 35px;
}

.companies_logo {
    padding: 5px 4px 2px 4px;
    border: 1px solid #fff;
}

.buy_companies img,
.buy_coin_meterics img {
    width: 150px;
    height: 100px;
    background-color: #fff;
}

.network_world {
    background-color: #FDD947;
    min-height: 200px;
}


.road_map {
    padding-top: 50px;
}

.road_map h2 {
    text-align: center;
}

.quarter {
    width: 50%;
    margin-bottom: 50px;
}

.quarter h5 {
    background-color: #000;
    color: #fff;
    padding: 10px 5px;

}

.quarter_list {
    position: relative;
}

.quarter_list:after {
    position: absolute;
    display: block;
    left: 50%;
    top: 0%;
    height: 100%;
    width: 4px;
    margin-left: -2px;
    content: '';
    background-color: #FDD947;
}

.quarter_list .d_flex:nth-child(odd) {
    padding-left: 40px;
}

.quarter_list .d_flex:nth-child(even) {
    padding-right: 40px;
}

.quarter_list .quarter .quater_heading {
    position: relative;
}

.quarter_list .quarter .quater_heading:before {
    content: '';
    display: block;
    position: absolute;
    height: 0px;
    width: 0px;
    border: 7px solid #000;
    border-radius: 50%;
    /* left: -26px; */
    top: 50%;
    z-index: 100;
    margin-top: -7px;
}

.quarter_list .d_flex:nth-child(odd) .quater_heading::before {
    left: -26px;
}

.quarter_list .d_flex:nth-child(even) .quater_heading::before {
    right: -26px;
}

.quarter_list .quarter .quater_heading::after {
    top: 50%;
    border: solid transparent;
    content: "";
    height: 0px;
    width: 0px;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-width: 8px;
    margin-top: -8px;

}

.quarter_list .d_flex:nth-child(odd) .quater_heading::after {
    border-right-color: #000;
    right: 100%;
}

.quarter_list .d_flex:nth-child(even) .quater_heading::after {
    border-left-color: #000;
    left: 100%;
}